.music{
    margin: 0%;
}
.music header{
    background-image: url('/images/emilia-music-top.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

    }

.music main{
    padding: 10px;
}


.music main ul{
padding:15px;
}

.music ul li a, .music main a{
color: var(--colorVerdeOscuro);
}
.music h3{
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 24px;
}

.music img{
    width: 640px;
}

.music ol{
    line-height: 36px;
}
.music ol li{
    list-style: decimal-leading-zero;
}
.music ol li a{
    color: black;
}
.music p{
    line-height: 10px;
}